body {
  margin: 0;


}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 10;
}

.header-logo{
  z-index: 5;
}

.header-logo img {
  width: 100%;
  max-width: 180px;
  height: auto;
}

h1 {
  color: rgb(12, 90, 62);
}

#top{
  position: relative;
  background-image: url("../image/haikei-01.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center ;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  z-index: 6;
}

#top-comment{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 200px;
  margin-left: 30px;
}




#profile{
  position: relative;
  margin-top: -60px;
  padding-top: 60px;
  background-image: url("../image/haikei-05.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}


#back-image {
  background-image: url(../image/back-blue.jpg);
  background-repeat: repeat;
  background-size: auto;
  padding: 10px;
}

#link-box {
  width: 300px;
  padding: 5px;
  margin: 10px;
  background-color: rgb(14, 131, 220);
  border-radius: 10px;
}

/* toggleメニューの設定 */
.menu-overlay {
  position: fixed;
  top: 0px;                 /* ヘッダー分ずらす */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.3);


  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 10;
}

.menu-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.menu-panel {
  margin: 120px auto 0;
  width: 80%;
  background: #9ea2a6;
  border-radius: 30px;
  padding: 30px 24px;
}

.menu-panel a {
  color: #fff;
  text-decoration: none;
}

.menu-toggle {
  background: #fff;
  color: #0f3f8c;
  font-size: 18px;
  border-radius: 999px;
  letter-spacing: 0.05em;
  position: fixed;
  right: 1vw;
  width: 110px;
  padding-top: 2px;
  padding-bottom: 4px;
  text-align: center;
  font-weight: bold;
  z-index: 11;
}

/* スマホレイアウトの設定 */
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;   /* ロゴとMENUを縦並びに */
    align-items: flex-start;  /* 左寄せ */
  }

  .menu {
    position: static;         /* 絶対配置を解除 */
    width: 100%;
  }

  .menu-toggle {
    font-family: "Noto Sans JP", Arial, sans-serif;
    font-size: 18px;
    width: 110px;
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: center;
    font-weight: 700;
    box-sizing: border-box;
    z-index: 9;
  }

  .menu li {
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid #ccc;
  }


}